body{background-image:url(../images/light-texture-01.jpg);background-color: #E2DFD6;text-align: left;font-size: 90%;font-family: arial,'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';line-height: 1.5;
	margin: 0 auto;width: 70%;clear: both;
}
a{text-decoration: none;}
a:link,a:visited{color: #99C7F7}
a:hover,a:active{color: aqua;}

body img{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 10px;
}
body nav{background-color: white;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
body nav ul{margin-right:10%;margin-top: 0px;margin-bottom: 0px; text-align:center;list-style: none;}
body nav ul li{display: inline;padding: 10% 10% 10% 10%;
	
}
.topContant{background-color: white;padding: 3%;margin-top: 3%;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
h2{color:#99C7F7 }
section footer{margin-top:-5%;margin-left:-1% ; font-size: 90%;color: gray;font-style: italic;}
.thesideBare{width: 22%;margin:2% 0% 1% 3%;padding:2%;float: left;background-color: white;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.mainContant{width: 70%;float:left;}
.thesideBare{float: left;;margin: 2% 0% 1% 2%;width:24%;padding: 2%}
footer{float: left;width: 100%;color:gray;background-color: white;margin:2%0%1%0%;padding: 2%;webkit-border-radius:5px;-moz-border-radius: 5px;border-radius: 5px;
}
.imgPost{width: 100%}
figure{margin:0% 0% }
figcaption{text-align: center;color: gray;font-size: 90%}
p{text-indent: 3%;display: inline-block}





@media screen and (max-width:880px){body{width: 100%;font-size: 95%}}

@media screen and (max-width:510px){body{width: 100%;font-size: 95%}
.thesideBare{width: 95%;margin:2%0%0%0%;padding: 2%}
.mainContant{width: 95%;margin:2%0%0%0%;padding: 2%}
body nav{height: 100px;line-height:5px;
}
body nav ul{margin-right:10%;margin-top:10px;margin-bottom: 0px; text-align:center;list-style: none;padding-top: 10px}
body nav ul li{display:block;padding:10px;
	
}
